.add-option-error {
    color: white;
    font-style: italic;
    margin: $m-size 0;
    padding: 0 $m-size;
    text-shadow: 0px 0px 1px darken($main-purp, 10%);
}

.add-option {
    display: flex;
    margin-top: $s-size;

}

.add-option__text {
    position: relative;
    top: 3.5px;
    flex-grow: 1;
    margin-right: $m-size;
    background: lighten(#f1f1f1, 5%);
    border: none;
    border-bottom: 2px solid darken($widget-bg, 8%);
    color: black;
    padding: $s-size;
    border-radius: 5px;
}

.add-option__text:focus {
    outline: 0;
}

@media(min-width:45rem) {
    .add-option {
        flex-direction: row;
    }
}

@media(max-width:45rem) {
    .add-option {
        flex-direction: column;
    }
    .add-option__text {
        margin: 0 0 $s-size 0;
    }
}