.header {
    background: $header-gradient;
    margin-bottom: $l-size;
    padding: $m-size 0;
    color: white;
    text-shadow: 2px 1.5px 2px $purp-shadow;
    // border-bottom: 1px solid lighten($main-purp, 20%);
    box-shadow: 0px 0px 1.5px darken($main-purp, 10%);
}

// BEM naming convention -> block element modifier
.header__title {
    font-size: $l-size;
    margin: 0;
    font-family: $highlight-font;
    font-weight: 300;
}

.header__subtitle {
    color: white;
    font-size: $m-size;
    font-family: $main-font;
    letter-spacing: .75px;
    font-weight: 500;
    margin: 0;
}