// Colors
$main-purp: #9300ce;
$light-purp:rgb(251, 148, 255);
$purp-shadow: rgb(73, 0, 73);
$header-gradient: linear-gradient(to left, #9300ce, #a119d6);
$testing: linear-gradient(to right, #f1f1f1,#ececec);
$bg-color: linear-gradient(to right, #f1f1f1,#ececec);
$shadow-one: rgb(179, 179, 179);
$widget-bg: #fcbefd;
$shadow-two:rgb(169, 85, 172);
$button-side: #7700a7;

// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 4.0rem;
$xl-size: 6.4rem;



// Fonts
$highlight-font: 'Permanent Marker', cursive;
// $main-font: 'Dokdo', cursive;
$main-font: 'Prompt', sans-serif;